env="development"

    [logger]
        level="DEBUG"
        path="logs/npadmin.log"

    [http]
        address="127.0.0.1"
        fqdn="localhost"
        listen-port=4000
        port=4000
        read-timeout=15
        write-timeout=15
        shutdown-timeout=10
        jwt-private="./tests/private-auth.pem"
        jwt-public="./tests/public-auth.pem"
        jwt-refresh-private="./tests/private-refresh.pem"
        jwt-refresh-public="./tests/public-refresh.pem"
        tls=false

    [database]
        # --- PREENCHIDO COM OS SEUS DADOS ---
        # --- SuperUSER: postgres / famalicao --- 
        # --- "postgres://postgres:famalicao@localhost/npadmin_development?sslmode=disable" ---
        # -----------------------------------
        dsn="postgres://npadmin_app:password_segura_123@localhost/npadmin_development?sslmode=disable"

        max-open-connections=25
        max-idle-connections=25
        max-idle-time="15m"

    [mailer]
        # --- PREENCHIDO COM OS SEUS DADOS DO MAILTRAP ---
        host="sandbox.smtp.mailtrap.io"
        port=587 
        username="962261020b5051"
        password="ee24debdb45c56" 
        sender="NP Admin <no-reply@npadmin.com>"
        # ------------------------------------------------

    [payment]
        multibanco-key="XXX-123456"
        multibanco-url="https://ifthenpay.com/api/multibanco/reference/sandbox"
        entidade=12345
        subentidade=123
        mbway-key="XXX-123456"
        mbway-url="https://mbway.ifthenpay.com/ifthenpaymbw.asmx"
        anti-phishing-key="123456asdfg"

    [webapp]
        admin-dashboard-url="http://localhost:3000/"
        associate-dashboard-url="http://localhost:3000/"
        scan-associate-url="http://localhost:3000/scan?id="
        account-success-page-url="http://localhost:3000/blank"
        account-error-page-url="http://localhost:3000/blank?status=400"
        login-error-page-url="http://localhost:3000/blank?status=loginfailed"

    [pusher]
        app-id="1234567"
        key="1234asdfg"
        secret="asdf1234"
        cluster="eu"

    [admin]
        email="administrator@email.com"

        nif="111111111"
