{{define "subject"}}Notifier Example{{end}}
{{define "plain"}}
 <table>
  {{range .Messages}}
  <tr><td>{{.}}</td></tr>
  {{end}}
 </table>
{{end}}

{{define "html"}}
<table>
  {{range .Messages}}
  <tr><td>{{.}}</td></tr>
  {{end}}
 </table>
{{end}}